body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background: #F7F5F2;
    color: #1A1A1A;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    background: #1A1A1A;
    color: white;
}

.nav-links li {
    display: inline-block;
    margin-left: 30px;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

.hero {
    height: 80vh;
    background: url('../images/hero-banner.jpg') center/cover no-repeat;
    display: flex;
    align-items: center;
    padding-left: 60px;
}

.hero-text h2 {
    font-size: 48px;
    margin: 0;
}

.btn {
    background: #C4281C;
    padding: 12px 24px;
    color: white;
    text-decoration: none;
    margin-top: 20px;
    display: inline-block;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 40px 60px;
}

.card img {
    width: 100%;
    border-radius: 8px;
}

.page-header {
    text-align: center;
    padding: 60px 20px;
}

.page-header h2 {
    margin-bottom: 10px;
    font-size: 40px;
}

.product-grid {
    padding: 40px 60px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.product-card {
    background: white;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
}

.product-card img {
    width: 100%;
    border-radius: 6px;
}

.btn-small {
    padding: 8px 16px;
    display: inline-block;
    background: #C4281C;
    color: white;
    text-decoration: none;
    margin-top: 10px;
}

.collection-grid {
    padding: 40px 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.collection-card {
    background: white;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
}

.collection-card img {
    width: 100%;
    border-radius: 6px;
}

.about-section {
    padding: 60px;
    display: flex;
    gap: 50px;
    align-items: center;
}

.about-text {
    flex: 1;
}

.about-image img {
    width: 100%;
    border-radius: 10px;
    max-width: 450px;
}


.contact-section {
    padding: 60px;
    display: flex;
    justify-content: center;
}

.contact-card {
    background: white;
    padding: 40px;
    border-radius: 10px;
    width: 400px;
    text-align: center;
}

.social-links li {
    list-style: none;
    margin: 8px 0;
}
